.jumbotron { backGround:url(img/car.JPG) center no-repeat; background-size: cover;}
.jumbotron h1{color: #fff;}
.myRegion {
  background-color: #fff;
  padding:10px;
  margin:10px;
  border:solid 1px #f60;
}
.buttonRight { float: right;}
.nav {margin:10px;}

 body {background-color: #ffb;}
